body
{
    font-family: Arial;

    margin: 0;
    padding: 0;
}
.container
{
    padding: 0 10%;
}
header
{
    height: 50vh;

    background: url(../img/bg-main.jpg)  no-repeat center top/cover, linear-gradient(to right, #000 0%, #c48b8b 100%) ;
}
.title
{
    display: flex;

    padding: 5% 0;

    justify-content: space-between;
}
.logo-img
{
    width: 100%;
}
.logo-text
{
    font-size: 2.1em;
    font-style: italic;

    margin: 0;

    color: #80b641;
}
.left-side
{
    text-align: left;
}
.right-side
{
    text-align: right;
}
.cart-img
{
    width: 2.5em;
    margin-right: 10px;
}
.cart-price
{
    font-size: 1.2em;
    font-weight: bold;

    color: #fff;
}
a.button-top,
.button
{
    font-weight: bold;

    display: block;

    margin-top: 10px;
    padding: 10px 60px;

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    color: #fff;
    border: 2px solid #c48b8b;
    border-radius: 5px;
    background: linear-gradient(to right, #000 0%, #c48b8b 100%);
}

.button
{
    padding: 10px 20%;
}
a.button-top:hover,
.button:hover
{
    transition-duration: .5s;

    color: #80b641;
    border-color: #80b641;
}
/* header ends */


/* nav ends */
img[src='img/home-intro2.jpg']
{
    display: none;
}
.second-side
{
    padding: 25px;
    margin: auto;
}
.read-more
{
    font-size: 1.5em;
    font-weight: bold;

    text-decoration: none;

    color: skyblue;
}
p
{
    line-height: 2;

    color: #3d3d3d;
}
.block-2
{
    display: flex;

    width: 100%;

    justify-content: space-around;
    flex-wrap: wrap;
}
.item
{
    overflow: hidden;

    margin-top: 70px;

    box-shadow: 3px 3px 5px 0 rgba(120,120,120,1);

    flex-basis: 29%;
    
}

@media only screen and (max-width: 767px) {
    .main-body
    {
        margin: auto;
        flex-basis: unset !important;
    }
    .aside-body
    {
        display: none !important;
    }
}

@media only screen and (max-width: 475px) {
    .item
    {
        flex-basis: 45%;
    }
    .dogs
    {
        flex-basis: 90%;
    }
}

.mini-container
{
    padding: 10px 10px;
}
.item img
{
    width: 100%;
}
.item .button
{
    width: 100%;
    margin: 20px auto;

    cursor: pointer;
}

.title_up
{
    text-align: center;
    padding: 20px 0;
}
.title_up h2
{
    font-size: 2.2em;

    letter-spacing: 1px;

    color: #093c60;

}
h3
{
    font-size: 1.7em;

    margin: 0;

    color: #093c60;
}
.bold
{
    font-weight: bold;
}
.text
{
    line-height: 1.7;
}
.more-dogs
{
    font-size: 1em;
    font-weight: 900;

    display: block;

    width: 180px;
    margin: 5em auto;
    padding: .8em 1.5em;

    text-align: center;
    text-decoration: none;

    color: #093c60;
    border-radius: 5px;
    background: #ececec;
}
.home-second .container
{
    display: flex;

    justify-content: space-between;
}
.main-body
{
    flex-basis: 69%;
}
.aside-body
{
    display: block;

    margin: 60px 0 0 50px;

    flex-basis: 30%;
}
.aside-body .first-side img
{
    width: 100%;
}
.logo-text
{
    line-height: 1.7em;
}

img[src='img/home-intro.jpg']
{
    display: none;
}
img[src='img/home-intro2.jpg']
{
    display: block;

    width: 100%;
}
.aside-body .second-side
{
    margin: 1em 0 0;
}
.blog-second .block-1
{
    display: flex;

    justify-content: space-between;
}



@media only screen and (max-width: 998px) {
    .blog-second .block-1
    {
        display: block;
        text-align: center;
    }
    .first-side
    {
        margin: auto;
    }
}
/* end of section */

footer
{
    padding: 50px 15px;

    text-align: center;

    color: #fff;
    background: -webkit-linear-gradient(#073b60, #000);
    background:      -o-linear-gradient(#073b60, #000);
    background:         linear-gradient(#073b60, #000);
}
footer img,
footer p
{
    min-width: 300px;
    max-width: 500px;
}
footer p
{
    line-height: 2;

    margin: 15px auto;

    color: #fff;
}
.second
{
    margin: 40px 0;
}
.second a
{
    font-weight: bold;

    text-decoration: none;

    color: #fff;
}
.second .after:after
{
    font-weight: bold;

    margin: 0 20px;

    content: '/';
}
footer .left:after
{
    margin: 0 20px;

    content: '|';
}
/* Dogs second */
.dogs-second .item
{
    margin: 0 0 40px;
}

/* arrows  */
select.long
{
    width: 15em;
}
.dog-text
{
    margin: 50px 0 15px;
}
.adopted
{
    display: flex;

    justify-content: space-between;
}
.adopted-item
{
    display: flex;

    margin-right: 10%;

    justify-content: space-between;
}
.adopted-item:last-child
{
    margin-right: 0;
}
.adopted img
{
    width: 6em;
    height: 6em;
}
.adopted .mini-container
{
    font-size: .8em;

    width: 7em;
}

.submit
{
    width: 50%;
}
.submit .button
{
    width: 100%;
    margin: 20px 0 80px;
    padding: 0;
}
form .cart-price
{
    color: #000;
}
/* *** MEDIA STYLES *** */